@{
    Layout = null;
}
<html>
<head>
    <title>@ViewBag.Title - HeyCoder.AspNetCore.MvcPager</title>
</head>
<body>
<ul>
    <li><a href="/pager/index">theme:default</a></li>
    <li><a href="/pager/bootstrap">theme:bootstrap</a></li>
</ul>
<hr/>
@RenderBody()
</body>
</html>