@{
    Layout = null;
}
<html>
<head>
    <title>@ViewBag.Title - HeyCoder.AspNetCore.MvcPager</title>
</head>
<body>
    <h3>ASP.NET Core 3.1</h3>
    <ul>
        <li><a href="/pager/index">theme:default</a></li>
        <li><a href="/pager/bootstrap">theme:bootstrap</a></li>
    </ul>
    <hr />
    @RenderBody()
</body>
</html>